<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<h1>Edit Product</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<a th:href="@{/}">Back to list</a>
<body>
<form method="post" th:object="${product}" th:action="@{/product-edit}">
   <table border="1px">
       <input type="hidden" th:field="*{id}">
       <tr>
           <th style="color: chocolate">Name Product</th>
           <td><input type="text" th:field="*{name}"></td>
       </tr>
       <tr>
           <th style="color: chocolate">Price Product</th>
           <td><input type="text" th:field="*{price}"></td>
       </tr>
   </table>
    <input style="color: chocolate" value="Update" type="submit">
</form>
</body>
</html>